<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>File details</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('header') %>
      <main>
        <h1>You do not have access to this file</h1>
      </main>
      <%- include('footer') %>
    </div>
  </body>
</html>
